html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  background-color: beige;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
  position: sticky;
  margin-top: auto
}

body {
  display: flex;
  flex-direction: column;
}


/* Estää yhteystietolomakkeen tekstikentän venymisen hiirellä vedettäessä */
textarea {
  resize: none;
}

/* Footerissa olevien some-ikoneiden tyylejä */
.social-icons a {
  color: #333;
  /* Väri, joka on ikoneille */
  text-decoration: none;
  /* Poistaa alleviivauksen linkeistä */
  margin: 0 10px;
  /* Lisää tilaa ikoneiden väliin */
  font-size: 3rem;
  /* Suurentaa ikoneiden kokoa, säätää tarpeen mukaan */
}

.social-icons a:hover {
  color: #007bff;
  /* Väri hover-tilassa */
}

/* Footerissa olevien puhelin ja sähköposti -ikoneiden tyylejä */
.contact-info {
  font-size: 1rem;
  /* Voit säätää fontin kokoa tarvittaessa */
}

.contact-info i {
  margin-right: 8px;
  /* Lisää tilaa ikonien ja tekstin väliin */
}

/* Seuraavat jutut liittyvät värinvalitsimen väreihin. */

.fiesta {
  background-color: #DD4132;
  fill: #DD4132 !important;
  width: 25%;
  height: 50px;
}

.jesterred {
  background-color: #9E1030;
  fill: #9E1030 !important;
  width: 25%;
  height: 50px;
}

.turmeric {
  background-color: #FE840E;
  fill: #FE840E !important;
  width: 25%;
  height: 50px;
}

.livingcoral {
  background-color: #FF6F61;
  fill: #FF6F61 !important;
  width: 25%;
  height: 50px;
}

.pinkpeacock {
  background-color: #C62168;
  fill: #C62168 !important;
  width: 25%;
  height: 50px;
}

.pepperstem {
  background-color: #8D9440;
  fill: #8D9440 !important;
  width: 25%;
  height: 50px;
}

.aspengold {
  background-color: #FFD662;
  fill: #FFD662 !important;
  width: 25%;
  height: 50px;
}

.princessblue {
  background-color: #00539C;
  fill: #00539C !important;
  width: 25%;
  height: 50px;
}

.toffee {
  background-color: #755139;
  fill: #755139 !important;
  width: 25%;
  height: 50px;
}

.mangomojito {
  background-color: #D69C2F;
  fill: #D69C2F !important;
  width: 25%;
  height: 50px;
}

.terrariummoss {
  background-color: #616247;
  fill: #616247 !important;
  width: 25%;
  height: 50px;
}

.sweetlilac {
  background-color: #E8B5CE;
  fill: #E8B5CE !important;
  width: 25%;
  height: 50px;
}

.soybean {
  background-color: #D2C29D;
  fill: #D2C29D !important;
  width: 25%;
  height: 50px;
}

.eclipse {
  background-color: #343148;
  fill: #343148 !important;
  width: 25%;
  height: 50px;
}

.sweetcorn {
  background-color: #F0EAD6;
  fill: #F0EAD6 !important;
  width: 25%;
  height: 50px;
}

.browngranite {
  background-color: #615550;
  fill: #615550 !important;
  width: 25%;
  height: 50px;
}

/* Nämä kolme seuraavaa ovat SVG-kuvan seinän aloitusvärit (vaaleanruskeat seinät) */
.cls-2 {
  fill: #eae5de;
}

.cls-3 {
  fill: #f0e2d0;
}

.cls-1 {
  fill: #e0c4a0;
}

/* Nämä seuraavat card-body jutut liittyvät yhteystietolomakkeen "kuvakorttiin" */

.card-body {
  position: relative;
  /* Asetetaan card-body suhteelliseksi */
}

.card-body img {
  width: 100%;
  /* Kuvan leveys 100% kontista */
  height: auto;
  /* Kuvan korkeus säilyttää mittasuhteet */
}

.card-body .overlay {
  position: absolute;
  /* Asetetaan overlay suhteelliseksi card-bodyyn */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  /* Musta teksti */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}