html, body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:beige;
}

.content {
    flex-grow: 1;
}

.footer {
    background-color: #f8f9fa; /* Tai käytä "bg-light" Bootstrap-luokkaa */
    text-align: center;
    padding: 1rem;
    position: sticky;
    margin-top: auto
}
  
  body {
    display: flex;
    flex-direction: column;
  }

  textarea {
    resize: none;
}
