html, body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:beige;
}

.content {
    flex-grow: 1;
}

.footer {
    background-color: #f8f9fa; /* Tai käytä "bg-light" Bootstrap-luokkaa */
    text-align: center;
    padding: 1rem;
    position: sticky;
    margin-top: auto
}
  
  body {
    display: flex;
    flex-direction: column;
  }

 /* 
.form-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*/
